.subnav {
    display: none;

    width: 16.5rem;
    padding: .5rem 0;

    position: absolute;
    top: 100%;
    left: 0;

    background-color: $blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 8px 6px rgba($color: #000000, $alpha: .2);

    @include breakpoint($tablet-bp) {
        display: block;
        position: static;
        width: 100%;

        background: transparent;
        box-shadow: none;
        padding-left: 1.7rem;
    }

}

.subnav__link {
    display: block;
    padding: .45rem 1.2rem;
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;
    transform: .2s ease-in-out;

    &:hover {
        background-color: darken($color: $blue , $amount: 5%);
    }


    @include breakpoint($tablet-bp) {
        padding-left: 0;
        padding-right: 0;

        font-size: 1.4rem;

        &:hover {
            background-color: transparent;
        }
    }
}